.menu {
    background-color: #D6AFDC;
    width: 80%;
}

ul {
    list-style-type: none;
    padding: 20px;
}

li {
    margin: 20px;
    display: inline;
}

a {
    text-decoration: none;
    color: white;
    text-align: center;
}

a:hover {
    background-color: blue;
    padding: 20px;
}